body, 
textarea, 
input {
  font: 13px "Ariel", sans-serif;
}

.chat {
  max-width: 300px;
  margin: auto;
}

.chat-messages,
.chat textarea,
.chat-name,
.button,
.newname {
  border: 2px solid #b3b3b3;
}

.chat-messages {
  width: 276px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  }

.chat-message {
  margin-bottom:10px;
}

.chat-name,
.newname {
  width: 276px;
  padding: 10px;
  margin: 0;
}

.chat textarea {
  width: 276px;
  padding: 10px;
  margin: 0;
  max-width: 276px;
}

.chat-status {
  color: #b3b3b3;
}

.chat textarea,
.chat-name {
  outline: none;
}

.allVisible {
  margin: auto;
  max-width: 300px;
}

.button,
.heading,
.subheading,
.info 
#contacts{
  width: 276px;
  padding: 10px;
  color: #555;
}

#contacts{
  min-height: 100px;
}

.button,
.heading {
  height: 30px;
  font: 30px "Ariel", sans-serif;
  text-align: center;
}


.subheading{
  height: 20px;
  font: 20px "Ariel", sans-serif;
  text-align: left;
}

.info{
  font: 16px "Ariel", sans-serif;
  text-align: left;
}

.button:hover {
  color: #67e
  }

.top {
  margin-top: 60px;
}

.notlast{
  border-bottom: 0px;
}

a {
  text-decoration: none;
  text-align: center;
}

#contacts a {
  text-align: left;
  padding: 10px;
  height: 20px;
  font: 20px "Ariel", sans-serif;
  display: block;
}

.unread {
  color: #FF9800;
}

.online {
  color: #555;
}

.offline {
  color: #bbb;
}

#contacts a:hover {
  color: #67e
}